<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Us</h2>
                <hr class="light">
                <p class="text" align="center"> We are a passionate group of people providing our clients with successful business solutions in the accounting, taxation, information systems and consulting domains. We deliver customized solutions for your operational, reporting and systems based requirements, please feel free to contact us for a free quote!</p>
                <a href="#contact" class="btn btn-success btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>

