<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Us!</h2>
                <hr class="primary">
                <p>Give us a call or send us an email and we will get back to you as soon as possible</p>
                <address>
  <strong>SIF Financial Inc.</strong><br>
  1183 Cecil Avenue, Unit#5<br>
  Ottawa, ON K1H 7Z6<br>
  <abbr title="Phone">P:</abbr> 1 (613) 703-2890  <br>
  <abbr title="Fax">F:</abbr> 1 (613) 319-3703 <br>
</address>

<address>
  <strong>Email for inquiries:</strong><br>
  <a href="mailto:#">info@siffinc.com</a>
</address>
                <div class="col-lg-12 col-lg-offset-2 text-center">
                <center><form id="contactform" action="https://formspree.io/mpzjvnjr" method="POST">
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="firstname" name="name" placeholder="First Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="lastname" name="name" placeholder="Last Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="_replyto" placeholder="Email" type="email" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number" type="tel" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="message" placeholder="Message" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-success btn-lg" type="submit">Send</button>
        </div>
      </div>
    </div>
    </form></center></div>
            </div>
            <!-- modify this form HTML and place wherever you want your form -->
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://twitter.com/siffinancialinc" title="Twitter">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.facebook.com/siffinancialinc" title="Facebook">
                    <i class="fa fa-facebook-official fa-3x wow bounceIn" aria-hidden="true" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://www.siffinc.com/" title="Siffinc">
                <i class="fa fa-globe fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:info@siffinc.com" title="Email">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>


    </div>
</section>
