<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Welcome to SIFFINC</h1>
            <hr>
            <h2>Strategic Informatics Facilitation</h2>
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">About Us</a>
        </div>
    </div>
</header>

