<style>
    .map-responsive {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .map-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
</style>
<section id="maps">
    <div class="container text-center">
                <h2 class="section-heading">Directions</h2>
                <hr class="primary">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2802.457074981872!2d-75.671891584463!3d45.37994984708221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0600890283b3%3A0xebcb4ddcacc4403d!2s1183%20Cecil%20Ave%2C%20Ottawa%2C%20ON%20K1H%207Z6%2C%20Canada!5e0!3m2!1sen!2sus!4v1587768300430!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
</section>
