<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">font_download</i>
                    <h3>Accounting</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">account_balance</i>
                    <h3>Taxation</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">inbox</i>
                    <h3>IT Systems</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">laptop</i>
                    <h3>Consulting</h3>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</section>
